@font-face {
  font-family: "FiraSans";
  src: url("./FiraSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("./SourceSansPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("./SourceSansPro-Regular.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("./SourceSansPro-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
